@import "tailwindcss";

body {
  font-family: var(--font-jakarta);
}

button{
  cursor: pointer;
}

canvas{
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
}

.tool-card {
  @apply flex flex-col items-center justify-center gap-2 p-6 bg-white rounded-xl shadow hover:shadow-lg transition text-center font-medium;
}

/* #range::-webkit-slider-thumb{
  background-color: black;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;

}

#range::-webkit-slider-runnable-track{
  background-color: gray;
  border-radius: 100px;
  height: 1vw;
  width: 100%;
}

#range{
  appearance: unset;
}

#range::-webkit-slider-thumb{
  appearance: unset;
} */
